body{
    background-color: green;
    width: 100%;
    height: 100%;
    
}

.board{
    background-color: burlywood;
    width: 500px;
    height: 500px;
    top: 15%;
    left: 25%;
    position: absolute;

}

.player{
    background-color: silver;
    height: 20px;
    width: 20px;
    position: relative;
    top: -16px;
    left: 0px;
    transform: translate()
    
    
}

.body{
    text-emphasis-color: brown;
    position: relative;
    top: 10%;
    left: 20%;
}

.slide-arrow {

    cursor: pointer;

    position: absolute;

    top: 35%;

    width: auto;

    margin-top: -22px;

    padding: 16px;

    background-color: white;

    font-weight: bold;

    font-size: 18px;

    transition: 0.6s ease;

    border-radius: 0 3px 3px 0;

    user-select: none;

    z-index: 20;

    border: none;

    width: 2rem;

    font-size: 3rem;

    padding: 0;

    cursor: pointer;

    opacity: 0.5;

    transition: opacity 100ms;

    height: 4rem;

    font-size: 3rem;

}

.slide-arrow:hover,

.slide-arrow:focus {

    opacity: 1;

}

#slide-arrow-next {

    right: 0;

    z-index: 20;

}


.apple{
    background-color: green;
    height: 20px;
    width: 20px;
    position: relative;
    top: -52px;
    left: 0px;

    
    
}

.bodyApple{
    text-emphasis-color: blue;
    position: relative;
    top: 10%;
    left: 20%;
    text-size-adjust: .75rem;
}
